<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="Host" value="smtp.yandex.ru"/>
		<add key ="Port" value="25"/>
		<add key ="SSL" value="true"/>
		<add key ="FromEmail" value="ya.te2016@yandex.ru"/>
		<add key ="Username" value="ya.te2016@yandex.ru"/>
		<add key ="Password" value="pehgdhsaxuwrydsp"/>
	</appSettings>
</configuration>
